.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.posts-header h2{
  text-align: center;
  margin: 0;
}
  
.posts-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 40px;
  color: rgb(226, 100, 100);
  margin-bottom: 20px;
  width: 100%;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
  width: 50%;
}

.search-input {
  display: block;
  width: 100%;
  margin: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}

.post {
  background-color: white;
  width: calc(100% - 40px);
  margin: 10px 0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.post:hover {
  background-color: #f0f0f0;
}

.selected-post {
  border: 2px solid rgb(226, 100, 100);
}

button {
  margin: 5px;
}
