.recipe-detail {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgb(250, 234, 213);
  box-sizing: border-box;
}

.recipe-detail h1 {
  width: 100%;
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
}

.recipe-detail img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 20px;
   object-fit: cover;
}

.recipe-detail div {
  width: 60%;
  
  font-size: 1.2em;
  line-height: 1.6;
}

@media (max-width: 768px) {
    .recipe-detail div {
        width: 90%;
    }
}