  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ajouté pour centrer verticalement */
    font-family: sans-serif;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color:rgb(250, 234, 213);
  }

.timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; /* Ajouté pour centrer verticalement */
    font-family: sans-serif;
    text-align: center;
  }
.time {
  font-size: 32px;
}
